#kaocha/v1
 {:tests [{:id :unit
           :source-paths ["src"]
           :test-paths   ["test"]
           :ns-patterns  ["-test$"]}]

  :plugins [:kaocha.plugin/print-invocations
            :kaocha.plugin/cloverage
            :kaocha.plugin/profiling]
  :cloverage/opts
  {:ns-exclude-regex [],
   :debug? false,
   :text?  #profile {:test false
                     :coverage true
                     :watch false},
   :lcov?  #profile {:test false
                     :coverage true
                     :watch false},
   :high-watermark 80,
   :fail-under-line 100,
   :fail-threshold 85,
   :line-fail-threshold #profile {:test 90
                                  :coverage 90
                                  :watch 0},
   :form-fail-threshold  #profile {:test 85
                                   :coverage 85
                                   :watch 0},
   :output "target/coverage",
   :low-watermark 50,
   :ns-regex [],
   :summary? #profile {:test false
                       :coverage true
                       :watch false},
   :coveralls?  #profile {:test false
                          :coverage true
                          :watch false},
   :emma-xml?  #profile {:test false
                         :coverage true
                         :watch false},
   :html? #profile {:test true
                    :coverage true
                    :watch true},
   :nop? false,
   :codecov? #profile {:test false
                       :coverage true
                       :watch false}},
  :randomize         {:seed 26331},
  :color? #profile {:test true
                    :coverage false
                    :watch false},
  :watch?   #profile {:coverage false
                      :test false
                      :watch true},
  :reporter #profile {:coverage kaocha.report/documentation
                      :test [kaocha.report.progress/progress kaocha.report/fail-summary]
                      :watch [kaocha.report/dots kaocha.report/fail-summary]},
  :parallel #profile {:coverage true
                      :test true
                      :watch true},
  :fail-fast #profile {:coverage false
                       :test false
                       :watch true},
  :kaocha.plugin.profiling/profiling? #profile {:coverage true
                                                :test false
                                                :watch false},
  :kaocha.plugin.profiling/count #profile {:coverage 3
                                           :test 0
                                           :watch 0},
  :capture-output?    false}
