name: Dependency Updates

on:
  schedule:
    - cron: "30 19 * * 5"

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run common build steps
        uses: ./.github/workflows/ci-common/build

      - name: Update dependencies
        run: |
          bb upgrade || { echo "Dependency upgrade failed. Exiting."; exit 1; }

      - name: Verify authentication
        run: gh auth status
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create pull request if updates are present
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          #!/bin/bash
          git config --global user.email "rlperez@kablamo.me"
          git config --global user.name "Rigoberto L. Perez"
          if git diff --quiet deps.edn; then
              echo "No changes detected in deps.edn. Skipping pull request creation."
              exit 0;
          else
              branch_with_date="dependency_update-$(date +%Y%m%d-%H%M%S)"
              git checkout -b $branch_with_date
              git add deps.edn
              git commit -m "chore: Update dependencies: $(date +%Y%m%d-%H%M%S)"
              git push origin "$branch_with_date"
              gh pr create -B master -H "$branch_with_date" \
                --title "chore: Merge dependency updates into master" \
                --body "$(git diff deps.edn)"
          fi
